<section class="col-md-offset-4 col-md-4" ng-controller="createEventCtrl">
  <form ng-submit="createEvent()">
    <legend>Create Event</legend>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Event Name" ng-model="event_name"></input><!--required-->
      <input class="form-control" type="text" placeholder="Host Church"></input><!--required-->
      <!-- Host Church should be prepopulated dropdown menu of registered churches -->
      <input class="form-control" type="text" placeholder="Contact Person"></input><!--Creator by default-->
      <input class="form-control" type="tel" placeholder="phone number"></input><!--Creator by default-->
      <input class="form-control" type="Date" placeholder="Start Date"></input><!--required-->
      <input class="form-control" type="Date" placeholder="End Date"></input>
      <input class="form-control" type="Time" placeholder="Start Time" ></input><!--required-->
      <input class="form-control" type="Time" placeholder="End Time"></input>
      <input class="form-control" type="address" placeholder="Location"></input><!--required-->
<!-- Use Google Maps eventually for Location  -->
    </div>
    <div class="form-group">
      <legend>Event Details</legend>
      <textarea class="form-control" type="text" placeholder="Description"></textarea>
     <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="meal"> Fellowship Meal
        </label>
        <label>
          <input type="checkbox" ng-model="small_group"> Small Group
        </label>
        <label>
          <input type="checkbox" ng-model="worship"> Worship Service
        </label>
        <label>
          <input type="checkbox" ng-model="youth"> Youth Ministry
        </label>
        <label>
          <input type="checkbox" ng-model="children"> Children Ministry
        </label>
        <label>
          <input type="checkbox" ng-model="fundraiser"> Fundraiser
        </label>
        <label>
          <input type="checkbox" ng-model="mission"> Mission Activity
        </label>
        <label>
          <input type="checkbox" ng-model="resource"> Needed Resources
        </label>
      </div>
      <input class="form-control" type="number" placeholder="Cost"></input>
    </div>
    <button class="btn btn-default" ng-submit="createEvent()">Submit</button>
  </form>
</section><!--END createNewEventCtrl-->
