<section class="create-event-container" ng-controller="createEventCtrl">
  <a href="#/">
    <i class="fa fa-times"></i>
  </a>
  <h2>Create Event</h2>
  <form ng-submit="createEvent()">
    <div class="form-group col-md-6">
      <input class="form-control" type="text" placeholder="Event Name" ng-model="event_name"></input><!--required-->
      <input class="form-control" type="text" placeholder="Host Church"></input><!--required-->
      <!-- Host Church should be prepopulated dropdown menu of registered churches -->
      <input class="form-control" type="text" placeholder="Contact Person"></input><!--Creator by default-->
      <input class="form-control" type="tel" placeholder="phone number"></input><!--Creator by default-->
      <input class="form-control" type="address" placeholder="Location"></input><!--required-->
      <textarea class="form-control" type="text" placeholder="Description"></textarea>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="meal"> Fellowship Meal
        </label>
        <label>
          <input type="checkbox" ng-model="small_group"> Small Group
        </label>
        <label>
          <input type="checkbox" ng-model="worship"> Worship Service
        </label>
        <label>
          <input type="checkbox" ng-model="youth"> Youth Ministry
        </label>
        <label>
          <input type="checkbox" ng-model="children"> Children Ministry
        </label>
        <label>
          <input type="checkbox" ng-model="fundraiser"> Fundraiser
        </label>
        <label>
          <input type="checkbox" ng-model="mission"> Mission Activity
        </label>
        <label>
          <input type="checkbox" ng-model="resource"> Needed Items
        </label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Start Date</label>
      <input class="form-control" type="Date" placeholder="Start Date"></input><!--required-->
      <label>End Date</label>
      <input class="form-control" type="Date" placeholder="End Date"></input>
      <label>Start Time</label>
      <input class="form-control" type="Time" placeholder="Start Time"></input><!--required-->
      <label>End Time</label>
      <input class="form-control" type="Time" placeholder="End Time"></input>
      <label> Cost</label>
      <input class="form-control" type="number" placeholder="$0.00" ng-model="cost"></input>
      <div class="radio">
        <label>
          <input type="checkbox" value="" ng-model="suggested">
          Suggested Donation?
        </label>
      </div>
    </div>
    <a href ng-submit="createEvent()">Submit</a>
  </form>
</section><!--END createNewEventCtrl-->
