
<section class="event-detail">
  <a href="#/">
    <i class="fa fa-times-circle"></i>
  </a>
  <h2 class="event-detail--title">{{event.event_name}}</h2>
  <div class="event-detail--metadata">
    <p class="meta-data event-detail--date event-detail--time">
      <span>{{event.start_date}}<span ng-hide="event.end_date === event.start_date"> to {{event.end_date}}</span></span> &nbsp &nbsp
      <span>{{event.start_time}}</span>
      <span> - {{event.end_time}}</span>
    </p>
  <a href class="join-btn" ng-click="joinEvent()">Join  Event</button></a>
    <p class="meta-data event-detail--location">
      <a target="_blank" href="https://www.google.com/maps/place/{{directions}}">{{event.location}}</a>
    </p>

  </div>
  <div class="event-detail--description">
    <p class="description event-detail--description">{{event.description}}</p>
  </div>
  <div class="event-detail--specifics clearfix">
      <p class="event-specifics event-specifics--host">Hosted by:  <span>{{event.host_church}}</span></p>
      <p class="event-specifics event-specifics--type">Event Type <span ng-repeat="event_type in event.event_type">{{event_type}}<br/></span></p>
      <p class="event-specifics event-specifics--cost">Cost <span>{{event.cost | currency}} <span ng-show="event.suggested"> (Suggested Donation)</span></span></p>
      <p class="event-specifics event-specifics--email"><a href="mailto:{{event.email}}"><i class="fa fa-envelope"></i> &nbsp <span> {{event.contact_person}}</span></a></p>
      <p class="event-specifics event-specifics--phone"><a href="tel:{{event.phone_number}}"><i class="fa fa-phone"></i>&nbsp<span> {{event.phone_number}}</span></a></p>
  </div>
</section>
