<section class="event-detail">
  <h1>{{thisEvent.event_name}}</h1>
<section class="event-detail-container">
  <a href class="join-btn" ng-click="joinEvent()">Join Event</button></a>
  <div class="col-xs-11">
    <span>{{thisEvent.start_date}}<span ng-show="event.end_date!==event.start_date">-{{thisEvent.end_date}}</span></span>
    from
    <span>{{thisEvent.start_time}}</span>
    <span> - {{thisEvent.end_time}}</span>
  <br/>
    <span> <a target="_blank" href="https://www.google.com/maps/place/{{directions}}">{{thisEvent.location}}</a> &nbsp; &nbsp;  <a target="_blank" href="https://www.google.com/maps/place/{{directions}}">View Map</a></span>
    <p class="event-description">{{thisEvent.description}}</p>
  </div>
    <div class="col-md-6 col-sm-12">
      <h3>Details</h3>
      <div>
      <div><h4> Hosted by </h4> {{thisEvent.host_church}}</div>
      <div>
        <h4>Event Type</h4>
        <span ng-repeat="event_type in thisEvent.event_type">{{event_type}}<br/></span>
      </div>
    </div>
    <div>
      <div>
      <h4>Cost</h4>
      <span>{{thisEvent.cost | currency}} <span ng-show="thisEvent.suggested"> (Suggested Donation)</span></span>
      </div>
      <div>
      <h4>Contact Person</h4>
      <span><a href="mailto:{{thisEvent.email}}"><i class="fa fa-envelope"></i> <span> {{thisEvent.contact_person}}</span></a></span>
      <br/>
      <span><a href="tel:{{thisEvent.phone_number}}"><i class="fa fa-phone"></i>  {{thisEvent.phone_number}}</a></span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <h4>RSVP List</h4>
    <div ng-repeat="attending in thisEvent.attending">{{attending}}</div>
  </div>
  <div  class="col-md-3 col-sm-7">
    <h4>Similar Events</h4>
    <div ng-repeat="event in events | limitTo:8" ng-if="event.event_id!=thisEvent.event_id"><a href="#/event-detail/{{event.event_id}}">{{event.event_name}}</a></div>
  </div>
</section>
</section>
