<section>
  <section class="event-list" ng-repeat="event in events">
    <div>
      <h2><i ng-click="showMore()" class="fa fa-caret-down show-more"></i><i ng-click="showLess()" class="fa fa-caret-up event-details hidden"></i>
 {{event.event_name}}</h2>
      <h5>Event Type</h5>
      <p> <span ng-repeat="event_type in event.event_type">{{event_type}} &nbsp</span></p>
    </div>
    <div class="event-details hidden"><!--Event details-->
      <div>
      <p>{{event.description}}</p>
      <div>
        <h5>When</h5>
         <p><span>{{event.start_date}}</span> at <span>{{event.start_time}}</span></p>
         <p>Until <span ng-show="true">{{event.end_date}}</span><span ng-hide="{{event_end-date}}">{{event.start_date}}</span>  at <span ng-show="true">{{event.end_time}}</span></p>
        <h5>Where</h5>
        <span>{{event.location}}</span>
        </div>
        <div>
          <h5>Cost</h5>
          <p><span>{{event.event_cost}}</span> <span ng-show="event.cost">${{event.cost}}</span> <span ng-hide="event.cost">Free</span> <span ng-show=event.suggested>Suggested Donation</span></p>
        </div><!--END Cost-->
        <div>
          <h5>Contact Info</h5>
          <p><span><a href="mailto:{{event.email}}">{{event.contact_person}}</a> </span>&nbsp &nbsp<span><a href:href="tel:{{event.phone_number}}"> {{event.phone_number}}</a></span></p>
        </div><!--END Contact Info-->
        <a href="#/join/{{event.event_id}}" class="btn btn-default btn-sm" role="button">FLOCK WITH US</a>
      </div><!--END Event details-->
  </section>
</section>
