.create-event-container {
  h2 {
    line-height: normal;
    margin-bottom: 2ex;
  }
  form > a[href] {
    box-sizing: border-box;
    width: 100% * (1/3);
    margin: 1ex 100% * (1/3);
    padding: 0 1em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    float: left;
    font-size: 1em;
    color:#000;
    border: 2.3px solid #000;
    border-radius: 0;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
  }
}
