body {
.create-event-container {
  box-sizing: border-box;
  width: 100vw;
  margin-top: 3ex;//CHANGED
  margin-right: 1em;//CHANGED
  padding: 2ex 2em;//CHANGED
  background-color: rgba(255,255,255,0.3);
a[href] i {
  margin-bottom: -1.5ex;
  margin-right: 0.5em;//CHANGED
}
  form {
    legend {
      padding-left: 0.9em;//CHANGED
    }
    a[href] {
    box-sizing: border-box;
    width: 100% * (1/3);//CHANGED
    margin: 1ex 100% * (1/3);//CHANGED
    padding: 1ex 0;//CHANGED
    float: left;
    font-size: 1em;
    color:#000;
    border: 2.3px solid #000;
    border-radius: 0;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
  }
}//form
  .dropdown-menu {
    li {
      padding-left: 1em;
    }
  }
  .form-group {
    label {
      line-height: 0;
      margin-top: 0.5;
    }
  }
}//.create-event-container
}//body
