.event-list-container {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  ul {
    width: 100%;
    padding-left: 0;
    .event-item {
      box-sizing: border-box;
      width: 100%;
      float: left;
      list-style: none;
      border-bottom: 2px solid black;
      padding: 2ex 0 2ex 5%;
      &:hover {
        background-color: rgba(3, 132, 252, 0.6);
      }
        &.event-item-heading {
          position: fixed;
          top: 12ex;
          background: $sky;
        .event-item-heading-date {
          box-sizing: border-box;
          display: block;
          width: 100%*(1/4);
          float: left;
        }
          .event-item-heading-list {
            box-sizing: border-box;
            display: block;
            width: 100%*(1/4);
            float: left;
            text-align: left;
          }
        }
      a[href] {
        color: #000;
        &:focus {
          color: $sky;
        }
        .event-item {
          &-date {
            box-sizing: border-box;
            display: block;
            width: 100%*(1/4);
            float: left;
          }
          &-name {
            box-sizing: border-box;
            width: 100%*(1/4);
            float: left;
          }//event-item-name
          &-type {
            box-sizing: border-box;
            width: 100%*(2/4);
            float: left;
          }//event-item-type
        }//event-item...
      }//a[href]
    }//event-item
  }//ul
}//event-list-container
