body {
  padding-top: 15ex;
  header.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 5%;
    background-color: $cloud;
    color: $sky;
    z-index: 999;
    h1 {
      width: 10em;
      float: left;
    }
    nav {
      float: right;
      ul {
          vertical-align: text-bottom;
        li {
          list-style: none;
          display: inline-block;
          padding:3ex 1em;
        }//li
      }//ul
    }//nav
  }//.header
}//body
