body {
  header.header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 5%;
    border-bottom: 1px solid  black;
    nav {
      ul {
        li {
          list-style: none;
        }//li
      }//ul
    }//nav
  }//.header
}//body
