@media (min-width: 40rem) {
  body {
    background-color: red;
    header.header {
        padding: 1ex 5%;
      h1 {
        width: 2em;
        float: left;//CHANGED
        font-size: 4em;
        text-align: left;
      }
      nav {
        float: right;//CHANGED
        ul {
          li {
            width: auto;
            float: right;
            font-size: 1.5em;
            text-align: right;
            margin: 2.5ex 1em -1ex;//CHANGED
            &:last-of-type {
              width: auto;
              float: right;//CHANGED
              padding-bottom: 0;
            }
          }//li
        }//ul
      }//nav
    }//.header

    .welcome-modal {
      top: 35%;
      .modal-box {
        margin: 0;
        padding: 15ex 15%;
        .text-box {
          width: 100% * (2/3);
          margin: 0 100% * (1/6);
          padding: 2ex 0;
          h1 {
            margin-bottom: 1ex;
            font-size: 2em;
          }
          h4 {
            font-size: 1.5em;
          }
          p {
            width: 100% * (3/4);//CHANGED
            margin-left: 100% * (1/8);//CHANGED
            font-size: 1em;
          }
        }//.text-box
        button {
          width: 100%*(1/3);//CHANGED
          margin: 3ex 100%*(1/3);//CHANGED
          font-size: 1em;
        }
      }//.modal-box
    }//.welcome-modal

    .event-list-container {
      ul {
        .event-item {
          padding: 2ex 0 2ex 5%;
          &.event-item-heading {
            top: 12ex;
            .event-item-heading-date {
              width: 100%*(1/4);
              font-size: 2.25em;
            }
            .event-item-heading-list {
              width: 100%*(1/4);
              font-size: 2.25em;
            }
          }
          a[href] {
            .event-item {
              &-date {
                width: 100%*(1/4);
              }
              &-name {
                width: 100%*(1/4);
              }//event-item-name
              &-type {
                display: block;
                box-sizing: border-box;//CHANGED
                width: 100%*(2/4);//CHANGED
                float: left;//CHANGED
                span {
                  font-size: 0.9em;//CHANGED
                }
              }//event-item-type
            }//event-item...
          }//a[href]
        }//event-item
      }//ul
    }//event-list-container

  .view-animate {
    padding: 3ex 3em 100%;
    border-left: 2px solid #000;//CHANGED
  }
  .event-detail {
    margin-top: 3ex;
    padding: 2ex 2em;
    .event-detail--title {
      margin-bottom: 3ex;
    }//event-detail--title
    .event-detail--metadata {
      a[href].join-btn {
        margin: 0 1.5em 0 0;
      }//join-btn
    }//event-detail--metadata
    .event-detail--specifics {
      .event-specifics {
        &.event-specifics--type {
          width: 25%;
        }//event-specifics--type
        &.event-specifics--cost {
          width: 75%;
        }//event-specifics--cost
      }//event-specifics
    }//event-detail--specifics
  }//event-detail

  .create-event-container {
    margin-top: -1em;//CHANGED
    margin-right: -2em;//CHANGED
    padding: 3ex 25%;//CHANGED
    form {
      a[href] {
        width: 100% * (1/4);//CHANGED
        margin: 1ex 100% * (3/8);//CHANGED
      }
    }//form
  }//.create-event-container

  .login-page {
    margin-top: -1em;//CHANGED
    margin-right: -2em;//CHANGED
    padding: 3ex 25%;//CHANGED
    .form {
      &.active {
        button {
          width: 100% * (1/3);
          margin: 1ex 0 2ex 100% *(1/3);
        }
      }
    }
  }//.login-page

  }//body
}//@media 40rem
